<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.unsplashapp"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:name="com.unsplashapp.ui.App"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/appName"
            android:theme="@style/AppTheme">
        <activity
                android:name="com.unsplashapp.ui.activities.MainActivity"
                android:label="@string/appName">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.unsplashapp.ui.activities.DetailActivity"
                android:parentActivityName="com.unsplashapp.ui.activities.MainActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.unsplashapp.ui.activities.MainActivity"/>
        </activity>
        <activity
                android:name="com.unsplashapp.ui.activities.SettingsActivity"
                android:label="@string/toolbarSettings">
        </activity>

    </application>

</manifest>